<main class="mb-5">
	<div class="hero_single search_index">
		<div class="opacity-mask" data-opacity-mask="rgba(0, 0, 0, 0.6)">
			<div class="container">
				<div class="row justify-content-center">
					<div class="col-xl-9 col-lg-10 col-md-8">
						<h1 class="text-white mb-2">All our Masterpieces, in One place</h1>
						<em class="h4">More emotion below </em>
					</div>
				</div>
			</div>
		</div>
	</div>
</main>