<main>
  <div class="hero_single version_2">
			<div class="opacity-mask" data-opacity-mask="rgba(0, 0, 0, 0.6)">
				<div class="container">
					<div class="row justify-content-center">
						<div class="col-xl-9 col-lg-10 col-md-8">
							<h1 class="text-white">Welcome to the ArtCraftBay</h1>
							<p>The best place for authentic Artworks</p>
							<form method="post" action="grid-listing-filterscol.html">
								<div class="row no-gutters custom-search-input">
									<div class="col-lg-6">
										<div class="form-group">
											<input class="form-control" type="text" placeholder="What are you looking for...">
											<i class="icon_search"></i>
										</div>
									</div>
									<div class="col-lg-4 custom_select">
										<select class="wide" style="display: none;">
											<option>All Categories</option>	
											<option>Mexican</option>
											<option>Italian</option>
											<option>Japanese</option>
											<option>Chinese</option>
											<option>Burghers</option>
											<option>Chinese</option>
										</select><div class="nice-select wide" tabindex="0"><span class="current">All Categories</span><ul class="list"><li data-value="All Categories" class="option selected">All Categories</li><li data-value="Mexican" class="option">Mexican</li><li data-value="Italian" class="option">Italian</li><li data-value="Japanese" class="option">Japanese</li><li data-value="Chinese" class="option">Chinese</li><li data-value="Burghers" class="option">Burghers</li><li data-value="Chinese" class="option">Chinese</li></ul></div>
									</div>
									<div class="col-lg-2">
										<input type="submit" value="Search">
									</div>
								</div>
								<!-- /row -->
							</form>
						</div>
					</div>
					<!-- /row -->
				</div>
			</div>
		</div>
		<!-- /hero_single -->
</main>