<main>
	<div class="hero_single category_show">
		<div class="opacity-mask" data-opacity-mask="rgba(0, 0, 0, 0.6)">
			<div class="container">
				<div class="row justify-content-center">
					<div class="col-xl-9 col-lg-10 col-md-8">
						<h1 class="text-white mb-5"><%= @category.name %></h1>
						<em class="h4">It's your choice, and we respect it</em>
					</div>
				</div>
			</div>
		</div>
	</div>
</main>